<link rel="stylesheet" type="text/css" href="static\base.css">
<head>
<title>
ABCD Hospital
</title>
</head>
{% block body %}
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
   </head>


      <body>
	  <div class = 'heading'>
	  
<div class =  'ambulance' >
<img src="static\photos\amb.gif" class = "ambgif">
<br>
Call Ambulance<br>+977 9845634516
</div>	  


<img src="static\photos\logo.gif" class =  'logogif'>
                      <p class="mainheading">  ABCD HOSPITALS</p>
<p class = 'subcat'> 'Empowering People to Improve Their Lives'<br>Contact No: 01-488515, +977 9856745256</p>


	  </div>
          <div class="navbar" >
            <a  href="">
		  <div class = 'nav_word' > 
              Home 
			</div>
        </a>
                  <a >
			  <div class = 'nav_word'> 
               About Us
			  </div>
            </a>
			  <div class = 'nav_word'> 
              Contact us
			  </div>

</div>

<section class="background firstsection">
  <div class="boxmain">
  <div class="firsthalf">
    <a href="viewappointments"><li class = 'listtext'>Appointment<img src="static\photos\appoint.jpg" height="100px" width="100px"></a></li><br>
    
    <a href="viewdoctors"><li class = 'listtext'>Doctor<img src="static\photos\docter.jpg" height="100px" width="100px"></a></li><br>
    <a href="patient_login" ><li class = 'listtext'>Patient<img src="static\photos\patient.jpg" height="100px" width="100px"></a></li><br>
    
    </div>
  <div class="secondhalf">
    <p class="text-big">FOR BETTER HEALTH FOR BETTER LIFE</p>
      <p class="text -small">The disabled Attribute
        The input disabled attribute specifies that an input field should be disabled.
        
        A disabled input field is unusable and un-clickable.
        
        The value of a disabled input field will not be sent when submitting the form!
      </p>
      
      
    
      
    <br><br><br><br>
    <img src="static\photos\body.jpg" class = "imgatbody">
</div>
</div>    
</section>




<section class="secondsection ">
<div class="fhalf">
<div class="text">
<p  class="sectiontag">ABOUT US</P>
<p class="sectionsubtag">A network protocol is that set of rules that should be followed by different 
computers or computer-like devices when they participate in network 
communication.There is a very common and true saying that Health is Wealth. We should always keep in mind that 
wealth is wealth however health is the greatest wealth in this world. We should also motivate our kids and children
to know something about this common saying using such as simple and easy essay on Health is Wealth. You can make 
your kids aware about their health using such simply worded Health is Wealth essay.</p></div>
<div class="thumbnail">

<img src="static\photos\about.jpg">
</div>
</div>
</section>
         
{% endblock body %}
    